
.intro > h1 {
  color: var(--accent) !important;
  font-size: x-large !important;
}

.intro > h2 {
  display: none;
}

.text-muted {
  font-size: x-small;
}

.item-tag {
    xbackground-color: var(--accent);
    opacity: 0.6 !important;
}

/*
DDEEFFFF
    xopacity: 0.25 !important;
*/

