{# inline styles go in this file
#}
<!-- extracts from bootstrap.css -->
{%- set bootstrap_css %}
  {%- include "css/_bootstrap.css" %}
{%- endset %}
{%- set nav_css %}
  {%- include "css/_nav.css" %}
{%- endset %}
<style>
{{ bootstrap_css | csslint(page, "bootstrap_css") | cssmin | safe -}}
</style>
<!-- end content extracted from bootstrap.css -->
<!-- navbar styling -->
<style>
{{ nav_css | csslint(page, "nav_css") | cssmin | safe -}}
</style>
<!-- local theme -->
<style>
  html body {
      font-family: 'Raleway', sans-serif;
      background-color: white;
  }

  :root {
      --accent: {{siteinfo.accent}};
      --border-width:  5px ;
  }

{#- TODO:
 # use only if you want a gradient from top to bottom on navbar.
 # and if you do -- you will want a color more obvious than
 # white to very-nearly-white (#f8f8f8)
nav {
  background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
#}
</style>
{# any custom rules a particular page specifies
 # in front-matter
 -#}
{% if customStyle != null %}
<style>
{{ customStyle | safe }}
</style>
{% endif %}
{#- vim: syntax=css :
#}
